* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-body);
    font-size: var(--font-size-18);
    line-height: var(--font-line-height-165);
}

/* popup */

#popup{
    display: none; /*tiene display none que luego cambiará en el js*/
    position:fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-very-dark);
}

.card{
    /*para centrar el contenido de la card*/
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    
    color: var(--text-color-main);
    background: none;
    border-radius: var(--border-radius-20);
    background-color: var(--color-white);
    padding: var(--space-52);
    box-shadow: 5px 10px 18px #000000a0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /* como en position absolute no se puede alinear al top y al bottom a la vez, lo centra */
    max-height: 50rem;
    max-width: 55rem;
    height: fit-content; /* para centrar si no tiene ninguna etiqueta dentro del div */
}

.card--text-head {
    color: var(--text-color-main);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-medium);
    margin: 0 0 var(--bottom-margin-36) 0;
}

.card-text-p {
    color: var(--color-purple);
    font-weight: var(--font-weight-light);
    margin: 0 0 var(--bottom-margin-36) 0;
}

.random {
    color: red;
}

